%h2 レッスン一覧

= form_with(url: home_students_path, method: :get) do |f|
  = f.search_field :teacher_name, placeholder: '--講師名--'
  = f.select :language_id, languages_option, include_blank: '--言語--'
  = f.date_field :date
  = f.submit '検索する'

- @lessons.each do |lesson|
  %p= l lesson.started_at
  %p 講師: #{lesson.teacher.name} / 言語: #{t(lesson.teacher.language.name)}
  = render 'lesson_reservations/lesson_reservation_form', lesson: lesson
= paginate @lessons
