%h2 #{@today.month}月の時間別予約率
%p ※赤色 → 予約率86%以上
%p ※桃色 → 予約率51〜85%
%p ※青色 → 予約率50%以下
%p ※レッスンの予定がない場合"--"と表示します

%table
  %th 時刻\日付
  - @datetimes_on_month.each do |datetime|
    %th= sprintf("%d", datetime.day)
  - @hours.each do |hour|
    %tr
      %td #{hour}時
      - @datetimes_on_month.each do |datetime|
        -# #datetimeの時間はdefalutで00:00:00なのでhourを利用し何時か指定
        - reservation_rate = reservation_rate_for_times(datetime + Rational(hour, 24))
        - if reservation_rate == '--'
          %td #{reservation_rate}
        - else
          - if reservation_rate >= 86
            %td.high #{reservation_rate}
          - elsif 85 >= reservation_rate && reservation_rate >= 51
            %td.middle #{reservation_rate}
          - else
            %td.low #{reservation_rate}
